.section-company{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    padding: 80px 0;
}

.section-company h2{
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-h2);
    font-size: var(--font-size-h3);
}

.container-company{
    display: flex;
    gap: 80px;
}

@media (max-width: 884px){
    .container-company{
        display: grid;
        grid-template-columns: repeat(2, max-content);
    }
}
