footer{
    display: flex;
    gap: 99px;
    justify-content: center;
    padding: 60px 0;
}

.footer-informations{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    font-family: var(--font-family-primary);
}

.footer-informations p{
    font-size: var(--font-size-caption);
    width: 268px;
    color: #515151;
}

.footer-informations ul{
    list-style: none;
}

.footer-informations ul li a, .footer-informations ul li{
    text-decoration: none;
    color: #515151;
    font-size: var(--font-size-caption);
}

.footer-informations h2{
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
}

.footer-socials{
    display: flex;
    gap: 15px;
    align-items: start;
}

.social-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 30px;
    box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    cursor: pointer;
}

.social-item:hover{
    background-color: var(--color-blue);
    transform: translateY(-10px);
}

@media (max-width: 884px){
    footer{
        flex-direction: column;
        padding-left: 20px;
        gap: 40px;
    }
}
